<div class="content" role="main">
    <h2>Using custom service for sharing data between components.</h2>
    <br><br>
    <b>Order List</b>
    <div *ngFor="let order of orderList" class="card-container">
     <a class="card" (click)="goToDetails(order.id)">
       <span> {{order.name}} </span>
       <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
     </a>
    </div>
    </div>